@import './mixin.scss';
@import './transition.scss';
@import './element.scss';

html,
body,
#app {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:not(:defined) {
  display: none;
}

.no-padding {
  padding: 0px !important;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

$spaceTypes: (
  m: margin,
  p: padding,
);
$spaceDirections: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);
$spaceSizes: (
  5: 5px,
  10: 10px,
  15: 15px,
  20: 20px,
  25: 25px,
  30: 30px,
  40: 40px,
  50: 50px,
);

@each $typeKey, $type in $spaceTypes {
  @each $sizeKey, $size in $spaceSizes {
    @each $directionKey, $direction in $spaceDirections {
      .#{$typeKey}#{$directionKey}#{$sizeKey} {
        #{$type}-#{$direction}: $size;
      }
    }

    .#{$typeKey}x#{$sizeKey} {
      #{$type}-left: $size;
      #{$type}-right: $size;
    }
    .#{$typeKey}y#{$sizeKey} {
      #{$type}-top: $size;
      #{$type}-bottom: $size;
    }

    .#{$typeKey}a#{$sizeKey} {
      #{$type}: $size;
    }
  }
}
